@import 'tailwindcss';

@plugin 'tailwindcss-animated';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/views/**/*.blade.php';
@source '../../config/bless-ui.php';

@theme {
    --color-primary-200: #0071B1;
    --color-primary-400: #0071B1;
    --color-primary-500: #004f7b;
    --color-primary-600: #232938;
    --color-primary: #004f7b;

    --font-sans:
        Poppins, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}


@utility ui-border-animated-line {
    @apply z-10 bg-primary-200 duration-(--border-animated-delay) h-[2px] w-[2px] rounded-lg shadow-sm shadow-primary-400;
}

@layer components {
    .ui-navbar {
        > .ui-navbar-links {
            @apply lg:gap-6 flex;

            @apply max-lg:flex max-lg:flex-col max-lg:fixed max-lg:top-0 max-lg:left-0 max-lg:h-full max-lg:w-3/4 max-lg:duration-500;

            @apply max-lg:p-6 max-lg:gap-8 max-lg:pt-20 max-lg:shadow-lg;

            @apply max-lg:bg-primary-400/80 max-lg:text-white max-lg:backdrop-blur-xs;
        }
    }

    .ui-hero {

        > .ui-hero-bg{
            @apply h-full absolute inset-0;
        }

        &.metalic > .ui-hero-bg {
            @apply bg-gradient-to-r from-primary-600 to-transparent;
        }
    }

    .ui-footer {
        & .ui-footer-item-title {
            @apply max-lg:w-24 text-lg flex-none;
        }

        & .ui-footer-item {
            @apply flex lg:flex-col gap-6;
        }
    }
}

@utility ui-navbar-links {
    .ui-navbar & {
        @apply lg:gap-6 flex;

        @apply max-lg:flex max-lg:flex-col max-lg:fixed max-lg:top-0 max-lg:left-0 max-lg:h-full max-lg:w-3/4 max-lg:duration-500;

        @apply max-lg:p-6 max-lg:gap-8 max-lg:pt-20 max-lg:shadow-lg;

        @apply max-lg:bg-primary-400/80 max-lg:text-white max-lg:backdrop-blur-xs;
    }
}


@layer utilities {
    :root {
        --swiper-pagination-bullet-size: 0.75rem;
        --swiper-pagination-right: 0;
        --swiper-pagination-bullet-vertical-gap: 2px;
    }

    .swiper-cloak {
        @apply hidden!;
    }
}
